# fly.toml app configuration file generated for blackhole on 2026-02-13T16:38:55-08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'blackhole'
primary_region = 'ord'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1

  [[http_service.checks]]
    interval = '30s'
    timeout = '15s'
    grace_period = '60s'
    method = 'GET'
    path = '/api/health'

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 512
